/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/test-driver
/install-sh
/libtool
/ltmain.sh
/missing
/mkpkgng
/test.cov
