/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
*~
.deps
.libs
*.la
*.lo
*.log
*.o
*.pc
*.trs
*.xz
Makefile
Makefile.in
test.cov
