/.deps
/.libs
/*.la
/*.lo
/*.o
/Makefile.in
/Makefile
/test.cov
/*.log
/*.trs
/t_adler
/t_aes
/t_ctype
/t_endian
/t_fletcher
/t_hmac_sha1
/t_hmac_sha1_openssl
/t_hmac_sha224
/t_hmac_sha224_openssl
/t_hmac_sha256
/t_hmac_sha256_openssl
/t_hmac_sha384
/t_hmac_sha384_openssl
/t_hmac_sha512
/t_hmac_sha512_openssl
/t_md2
/t_md2_rsaref
/t_md4
/t_md4_openssl
/t_md5
/t_md5_openssl
/t_md5_rsaref
/t_memset_s
/t_mpi
/t_murmur3_32
/t_pearson
/t_rc4
/t_rfc3986
/t_rfc4648
/t_sha1
/t_sha1_openssl
/t_sha224
/t_sha224_openssl
/t_sha256
/t_sha256_openssl
/t_sha384
/t_sha384_openssl
/t_sha512
/t_sha512_openssl
/t_string
/t_strlcat
/t_strlcmp
/t_strlcpy
/t_wstring
